:root {
	--bg-color: #34495e;
	--text-color: #fdfffc;
	--text-bg-color: #df2935;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	background-color: var(--bg-color);
	color: var(--text-color);
	width: 80%;
	line-height: 1.4;
}
h1,
h2,
h3,
p {
	margin: 0;
}

h1 {
	margin-bottom: 2rem;
	font-size: 2rem;
}

#score-keeper {
	display: inline-block;
	position: relative;
	margin-bottom: 2rem;
	border: 2px solid var(--text-color);
	padding: 1rem 2.5rem;
	border-radius: 0.1875rem;
	font-size: 2rem;
}

#user {
	position: absolute;
	top: 35%;
	left: -15%;
	font-size: 0.875rem;
	background-color: var(--text-bg-color);
	padding: 0.125rem 0.3125rem;
}

#computer {
	position: absolute;
	top: 35%;
	right: -20%;
	font-size: 0.875rem;
	background-color: var(--text-bg-color);
	padding: 0 0.3125rem;
}

.options {
	margin-top: 1rem;
}

p {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.choice {
	display: inline-block;
	border: 3px solid var(--text-color);
	margin: 1rem;
	border-radius: 50%;
}

.choice:hover {
	background: #282e40;
}

button {
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	background: transparent;
	padding: 1rem;
}

.result {
	margin-top: 3rem;
}

.result > p {
	font-size: 1.5rem;
	font-weight: bold;
}

.green-glow {
	border: 3px solid #46c44e;
	box-shadow: 0px 0px 8px #188c44;
}

.red-glow {
	border: 3px solid #ec2929;
	box-shadow: 0px 0px 8px #db2121;
}

.grey-glow {
	border: 3px solid #908d8d;
	box-shadow: 0px 0px 8px #707070;
}
